body {
    /*background-color:rgba(21,89,222,255);*/
    background-image: url("Screenshot 2023-09-14 183449.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: white;
}

label {
    font-size: 25px;
}

button {
    height:50px;
    width:150px;
    font-size: 15px;
}

#OnestSectAns {
    margin: auto;
    padding: 5cm;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5cm;
    line-height: 100px;
}

#sentenceInput {
    height:50px;
    width:1500px;
    font-size:14pt;
}

#locationInput {
    height:50px;
    width:1500px;
    font-size:14pt;
}

#translateInput {
    height:50px;
    width:1500px;
    font-size:14pt;
}


#blankInput {
    height:50px;
    width:1500px;
    font-size:14pt;
}

#others {
    padding:10px;
    font-weight: bold;
    color:black;
    background-color:antiquewhite;
    border: 3px solid green;
    font-size: 20px;
}